<p class="note private">
  <strong>This <%= object.type %> is part of an internal API.</strong>
  This <%= object.type %> may only be used internally in repositories owned by <a href="https://github.com/Homebrew">Homebrew</a>, except in casks or formulae.
  Third parties should avoid using this <%= object.type %> if possible, as it may be removed or changed without warning.
</p>
