<p class="note private">
  <strong>This <%= object.type %> is part of a private API.</strong>
  This <%= object.type %> may only be used in the <a href="https://github.com/Homebrew/brew">Homebrew/brew</a> repository.
  Third parties should avoid using this <%= object.type %> if possible, as it may be removed or changed without warning.
</p>
