# First, ignore everything.
/*

# Explicitly ignore OS X Finder thumbnail files.
.DS_Store

# Unignore the contents of `Library` as that's where our code lives.
!/Library/

# Ignore files within `Library` (again).
/Library/Homebrew/.npmignore
/Library/Homebrew/bin
/Library/Homebrew/doc
/Library/Homebrew/prof
/Library/Homebrew/test/.gem
/Library/Homebrew/test/.subversion
/Library/Homebrew/test/coverage
/Library/Homebrew/test/junit
/Library/Homebrew/test/fs_leak_log
/Library/Homebrew/vendor/portable-ruby
/Library/Taps
/Library/PinnedTaps
/Library/Homebrew/.byebug_history
/Library/Homebrew/sorbet/rbi/hidden-definitions/errors.txt

# Ignore Bundler files
**/.bundle/bin
**/.bundle/cache
**/vendor/bundle/ruby/.homebrew_gem_groups
**/vendor/bundle/ruby/*/bundler.lock
**/vendor/bundle/ruby/*/bin
**/vendor/bundle/ruby/*/build_info/
**/vendor/bundle/ruby/*/cache
**/vendor/bundle/ruby/*/extensions
**/vendor/bundle/ruby/*/gems/*/*
**/vendor/bundle/ruby/*/plugins
**/vendor/bundle/ruby/*/specifications

# Ignore Bundler binary files
**/vendor/bundle/ruby/*/gems/**/*.bundle

# Ignore YARD files
**/.yardoc

# Unignore vendored gems
!**/vendor/bundle/ruby/*/gems/*/lib
!**/vendor/bundle/ruby/*/gems/addressable-*/data
!**/vendor/bundle/ruby/*/gems/public_suffix-*/data
!**/vendor/bundle/ruby/*/gems/rubocop-performance-*/config
!**/vendor/bundle/ruby/*/gems/rubocop-rails-*/config
!**/vendor/bundle/ruby/*/gems/rubocop-rspec-*/config
!**/vendor/bundle/ruby/*/gems/rubocop-sorbet-*/config

# Ignore activesupport files we don't need
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/cache/
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/array.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/array/conversions.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/array/extract.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/array/extract_options.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/array/grouping.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/array/inquiry.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/array/wrap.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/benchmark.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/big_decimal.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/big_decimal/conversions.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/class.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/class/attribute.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/class/attribute_accessors.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/class/subclasses.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/date.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/date/acts_like.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/date/blank.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/date/calculations.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/date/conversions.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/date/zones.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/date_and_time/calculations.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/date_and_time/compatibility.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/date_and_time/zones.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/date_time.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/date_time/acts_like.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/date_time/blank.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/date_time/calculations.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/date_time/compatibility.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/date_time/conversions.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/digest.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/digest/uuid.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/file.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/hash.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/hash/conversions.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/hash/indifferent_access.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/hash/reverse_merge.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/integer.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/integer/inflections.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/integer/multiple.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/integer/time.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/kernel.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/kernel/concern.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/kernel/reporting.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/kernel/singleton_class.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/load_error.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/marshal.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/module.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/name_error.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/numeric.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/object.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/object/acts_like.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/object/conversions.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/object/inclusion.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/object/instance_variables.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/object/json.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/object/to_param.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/object/to_query.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/object/with_options.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/range.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/range/compare_range.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/range/conversions.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/range/each.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/range/include_time_with_zone.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/range/overlaps.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/regexp.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/securerandom.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/string.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/string/access.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/string/behavior.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/string/conversions.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/string/inquiry.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/string/output_safety.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/string/starts_ends_with.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/string/strip.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/string/zones.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/symbol.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/symbol/starts_ends_with.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/time.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/time/acts_like.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/time/calculations.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/time/compatibility.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/time/conversions.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/time/zones.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext/uri.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/concurrency/
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/current_attributes/
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/dependencies/
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/deprecation/
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/duration/
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/json/
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/locale/
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/log_subscriber/
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/messages/
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/multibyte/
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/notifications/
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/number_helper/
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/testing/
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/values/
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/xml_mini/
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/actionable_error.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/all.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/array_inquirer.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/backtrace_cleaner.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/benchmarkable.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/builder.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/cache.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/callbacks.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/concern.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/configurable.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/configuration_file.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/core_ext.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/current_attributes.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/dependencies.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/deprecation.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/descendants_tracker.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/digest.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/duration.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/encrypted_configuration.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/encrypted_file.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/environment_inquirer.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/evented_file_update_checker.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/execution_wrapper.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/executor.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/file_update_checker.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/fork_tracker.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/gem_version.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/gzip.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/hash_with_indifferent_access.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/i18n_railtie.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/json.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/key_generator.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/log_subscriber.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/logger.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/logger_silence.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/logger_thread_safe_level.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/message_encryptor.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/message_verifier.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/notifications.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/number_helper.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/option_merger.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/ordered_hash.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/ordered_options.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/parameter_filter.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/per_thread_registry.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/proxy_object.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/rails.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/railtie.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/reloader.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/rescuable.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/secure_compare_rotator.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/security_utils.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/string_inquirer.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/subscriber.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/tagged_logging.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/test_case.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/time.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/time_with_zone.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/version.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support/xml_mini.rb
**/vendor/bundle/ruby/*/gems/activesupport-*/lib/active_support.rb

# Ignore partially included gems where we don't need all files
**/vendor/bundle/ruby/*/gems/concurrent-ruby-*/lib/atomic/
**/vendor/bundle/ruby/*/gems/concurrent-ruby-*/lib/atomic_reference/
**/vendor/bundle/ruby/*/gems/concurrent-ruby-*/lib/collection/
**/vendor/bundle/ruby/*/gems/concurrent-ruby-*/lib/concern/
**/vendor/bundle/ruby/*/gems/concurrent-ruby-*/lib/executor/
**/vendor/bundle/ruby/*/gems/concurrent-ruby-*/lib/synchronization/
**/vendor/bundle/ruby/*/gems/concurrent-ruby-*/lib/thread_safe/
**/vendor/bundle/ruby/*/gems/concurrent-ruby-*/lib/utility/
**/vendor/bundle/ruby/*/gems/concurrent-ruby-*/lib/*/*.jar
**/vendor/bundle/ruby/*/gems/i18n-*/lib/i18n/tests*
**/vendor/bundle/ruby/*/gems/thread_safe-*/lib/thread_safe/util
**/vendor/gems/mechanize-*/.*
**/vendor/gems/mechanize-*/*.md
**/vendor/gems/mechanize-*/*.rdoc
**/vendor/gems/mechanize-*/*.gemspec
**/vendor/gems/mechanize-*/Gemfile
**/vendor/gems/mechanize-*/Rakefile
**/vendor/gems/mechanize-*/examples/
**/vendor/gems/mechanize-*/lib/*.rb
**/vendor/gems/mechanize-*/lib/*.rb
**/vendor/gems/mechanize-*/lib/mechanize/http/agent.rb
**/vendor/gems/mechanize-*/lib/mechanize/http/*auth*.rb
**/vendor/gems/mechanize-*/lib/mechanize/c*
**/vendor/gems/mechanize-*/lib/mechanize/d*
**/vendor/gems/mechanize-*/lib/mechanize/e*
**/vendor/gems/mechanize-*/lib/mechanize/f*
**/vendor/gems/mechanize-*/lib/mechanize/h*.rb
**/vendor/gems/mechanize-*/lib/mechanize/i*
**/vendor/gems/mechanize-*/lib/mechanize/p*
**/vendor/gems/mechanize-*/lib/mechanize/r*
**/vendor/gems/mechanize-*/lib/mechanize/t*
**/vendor/gems/mechanize-*/lib/mechanize/u*
**/vendor/gems/mechanize-*/lib/mechanize/x*
**/vendor/gems/mechanize-*/test/

# Ignore dependencies we don't wish to vendor
**/vendor/bundle/ruby/*/gems/ast-*/
**/vendor/bundle/ruby/*/gems/bootsnap-*/
**/vendor/bundle/ruby/*/gems/bundler-*/
**/vendor/bundle/ruby/*/gems/byebug-*/
**/vendor/bundle/ruby/*/gems/coderay-*/
**/vendor/bundle/ruby/*/gems/colorize-*/
**/vendor/bundle/ruby/*/gems/commander-*/
**/vendor/bundle/ruby/*/gems/diff-lcs-*/
**/vendor/bundle/ruby/*/gems/docile-*/
**/vendor/bundle/ruby/*/gems/ecma-re-validator-*/
**/vendor/bundle/ruby/*/gems/hana-*/
**/vendor/bundle/ruby/*/gems/highline-*/
**/vendor/bundle/ruby/*/gems/hpricot-*/
**/vendor/bundle/ruby/*/gems/jaro_winkler-*/
**/vendor/bundle/ruby/*/gems/json-*/
**/vendor/bundle/ruby/*/gems/json_schemer-*/
**/vendor/bundle/ruby/*/gems/method_source-*/
**/vendor/bundle/ruby/*/gems/mini_portile2-*/
**/vendor/bundle/ruby/*/gems/minitest-*/
**/vendor/bundle/ruby/*/gems/msgpack-*/
**/vendor/bundle/ruby/*/gems/mustache-*/
**/vendor/bundle/ruby/*/gems/ntlm-http-*/
**/vendor/bundle/ruby/*/gems/parallel-*/
**/vendor/bundle/ruby/*/gems/parallel_tests-*/
**/vendor/bundle/ruby/*/gems/parlour-*/
**/vendor/bundle/ruby/*/gems/parser-*/
**/vendor/bundle/ruby/*/gems/powerpack-*/
**/vendor/bundle/ruby/*/gems/psych-*/
**/vendor/bundle/ruby/*/gems/pry-*/
**/vendor/bundle/ruby/*/gems/racc-*/
**/vendor/bundle/ruby/*/gems/rainbow-*/
**/vendor/bundle/ruby/*/gems/rbi-*/
**/vendor/bundle/ruby/*/gems/rdiscount-*/
**/vendor/bundle/ruby/*/gems/regexp_parser-*/
**/vendor/bundle/ruby/*/gems/rexml-*/
**/vendor/bundle/ruby/*/gems/ronn-*/
**/vendor/bundle/ruby/*/gems/rspec-*/
**/vendor/bundle/ruby/*/gems/rspec-core-*/
**/vendor/bundle/ruby/*/gems/rspec-expectations-*/
**/vendor/bundle/ruby/*/gems/rspec_junit_formatter-*/
**/vendor/bundle/ruby/*/gems/rspec-its-*/
**/vendor/bundle/ruby/*/gems/rspec-mocks-*/
**/vendor/bundle/ruby/*/gems/rspec-retry-*/
**/vendor/bundle/ruby/*/gems/rspec-support-*/
**/vendor/bundle/ruby/*/gems/rspec-sorbet-*/
**/vendor/bundle/ruby/*/gems/rspec-wait-*/
**/vendor/bundle/ruby/*/gems/rubocop-1*/
**/vendor/bundle/ruby/*/gems/rubocop-ast-*/
**/vendor/bundle/ruby/*/gems/ruby-prof-*/
**/vendor/bundle/ruby/*/gems/simplecov-*/
**/vendor/bundle/ruby/*/gems/simplecov-html-*/
**/vendor/bundle/ruby/*/gems/simpleidn-*/
**/vendor/bundle/ruby/*/gems/sorbet-*/
!**/vendor/bundle/ruby/*/gems/sorbet-runtime-*/
**/vendor/bundle/ruby/*/gems/spoom-*/
**/vendor/bundle/ruby/*/gems/stackprof-*/
**/vendor/bundle/ruby/*/gems/strscan-*/
**/vendor/bundle/ruby/*/gems/tapioca-*/
**/vendor/bundle/ruby/*/gems/thor-*/
**/vendor/bundle/ruby/*/gems/tzinfo-*/
**/vendor/bundle/ruby/*/gems/unf-*/
**/vendor/bundle/ruby/*/gems/unf_ext-*/
**/vendor/bundle/ruby/*/gems/unicode-display_width-*/
**/vendor/bundle/ruby/*/gems/unparser-*/
**/vendor/bundle/ruby/*/gems/uri_template-*/
**/vendor/bundle/ruby/*/gems/webrobots-*/
**/vendor/bundle/ruby/*/gems/yard-*/
**/vendor/bundle/ruby/*/gems/yard-sorbet-*/
**/vendor/bundle/ruby/*/gems/zeitwerk-*/
**/vendor/cache/
**/vendor/specifications/

# Ignore `bin` contents (again).
/bin

# Unignore our `brew` script.
!/bin/brew

# Unignore our configuration/completions/documentation.
!/.devcontainer
!/.github
!/completions
!/docs
!/manpages

# Unignore our packaging files
!/package
/package/resources/LICENSE.rtf

# Ignore generated documentation site
/docs/_site
/docs/bin
/docs/.jekyll-metadata
/docs/vendor
/docs/Gemfile.lock

# Unignore our root-level metadata files.
!/.dockerignore
!/.editorconfig
!/.gitignore
!/.irb_config
!/.yardopts
!/.vale.ini
!/.shellcheckrc
!/CHANGELOG.md
!/CONTRIBUTING.md
!/Dockerfile
!/Dockerfile.test.yml
!/LICENSE.txt
!/README.md

# Unignore tests' bundle config
!/Library/Homebrew/test/.bundle/config

# Unignore editor configuration
!/.sublime
/.sublime/homebrew.sublime-workspace
!/.vscode
